body{
  background-color: #f7f7f7;
  display: flex;
  color:white !important;
   min-height: 100vh;
   flex-direction: column;
}



.abc{
 background-image: url("../images/meet.jpg");
 background-position: left bottom;
}
.tick{
  line-height: 50px;
  font-size: 17px;
}
.card-detail{
  background: purple;
  padding-top: 10px;
  padding-bottom: 10px;
}
.s ul li:before {
  content: '✔';
  color:green;
}
#main {
  padding-left: 240px;
}
.clear {
  clear: left;
}
.contact{
  border-radius: 15px;
  border-color:black;
  border-style: solid;
    opacity: 0.9;
}
.card-panel1{
  transition: box-shadow .25s;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  padding-bottom: 5px;
  background-color: #fff;
}
.card-panel1 li{
  padding-left: 10px;
}
.sec{
  border-radius: 15px;
}
.lesson-wrapper {
  padding-bottom: 60px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;

}
.heading {
  padding-top: 20px;
  padding-bottom: 50px;
  color: #5f5d60;
}


.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top:20%;
  width: 100%;
  color: white;
}
.foot i{
  position: relative;
   /* Adjust these values accordingly */
   top: 8px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}
.page-footer{
  background-image: url('../images/contact.jpg');
}
.copy{
 background-color:#121A21 !important;
}
.social-nav {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 10px auto;
}
.social-nav li {
  display: inline-block;
}
.social-nav a {
  display: inline-block;
  float: left;
  width: 48px;
  height: 48px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  background: #000;
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.model-9 li {
  margin: 0 10px;
}
.model-9 a {
  color: #fff;
  overflow: hidden;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.model-9 a:hover {
  background: #fff;
}
.model-9 a:hover .fa {
  -moz-animation: 0.4s icon-move linear 0s;
  -webkit-animation: 0.4s icon-move linear 0s;
  animation: 0.4s icon-move linear 0s;
}
.model-9 .twitter {
background: #3B579D;
}
.model-9 .twitter:hover {
    color: #3B579D;
}
.model-9 .google-plus {
  background: #cd201f;
}
.model-9 .google-plus:hover {
  color: #cd201f;
}
.model-9 .linkedin {
  background:#0077B5;
}
.model-9 .linkedin:hover {
  color:#0077B5;
}
.model-9 .pinterest {
  background: #cd486b;
}
.model-9 .pinterest:hover {
  color:#8a3ab9;
}
@-moz-keyframes icon-move {
  49% {
    -moz-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0;
  }
  50% {
    -moz-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 1;
  }
  80% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes icon-move {
  49% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes icon-move {
  49% {
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0;
  }
  50% {
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 1;
  }
  80% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
